NODE_ENV=production

PORT=3001

# =====================
# Aiven MySQL Database
# =====================

DB_HOST=mysql-3d0ec3d5-mdrezowanmiya6-5d54.j.aivencloud.com
DB_PORT=11302
DB_NAME=defaultdb
DB_USER=avnadmin
DB_PASS=AVNS_TwTcD7vXFFmGAedSQCH


# =====================
# App URL
# =====================

FRONTEND_URL=https://your-render-app.onrender.com
BACKEND_URL=https://your-render-app.onrender.com/api
APP_URL=https://your-render-app.onrender.com


# =====================
# JWT
# =====================

ACCESS_TOKEN_SECRET=your_access_secret_key
ACCESS_TOKEN_EXPIRE=7d

VERIFY_TOKEN_SECRET=your_verify_secret_key
VERIFY_TOKEN_EXPIRE=15m

REFRESH_TOKEN_SECRET=your_refresh_secret_key
REFRESH_TOKEN_EXPIRE=7d


# =====================
# Email
# =====================

EMAIL_SECRET=emailsecret

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_EMAIL=mdrezowanmiya6@gmail.com
SMTP_PASS=bacpgwrxiulefduz


# =====================
# bKash Sandbox
# =====================

BKASH_BASE_URL=https://tokenized.sandbox.bka.sh

BKASH_USERNAME=your_username
BKASH_PASSWORD=your_password
BKASH_APP_KEY=your_app_key
BKASH_APP_SECRET=your_app_secret