:root {
  --bg-select: #232374;
  --line: #70708b;
}

select {
  appearance: base-select;
  width: 100%;
}

/* dropdown container */
::picker(select) {
  appearance: base-select;

  border-radius: 0.25rem;
  background-color: var(--bg-select);
  color: white;
  border: 1px solid var(--primary);
}
/* arrow */
select::picker-icon {
  font-size: 0.65rem;
  transition: 150ms ease;
}

select:open::picker-icon {
  rotate: 180deg;
}
/* option */
select option {
  width: 100%;
  padding: 0.25rem;
  border-bottom: 1px solid var(--line);
}

/* last option border remove */
select option:last-child {
  border-bottom: none;
}

select option:checked {
  background-color: var(--line);
}

select option::checkmark {
  color: greenyellow;
  content: "✓";
}
