@import "tailwindcss";

@import "./theme.css";

@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

html {
  scroll-behavior: smooth;
}
